body {
    font-family: 'Roboto', sans-serif;
    background-color: #f9e4e4;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3c6c6;
    padding: 20px;
    border-radius: 0 0 30px 30px;
}

header h1 {
    font-family: 'Pacifico', cursive;
    color: #fff;
    font-size: 36px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav a {
    text-decoration: none;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    margin: 0 15px;
    font-size: 18px;
}

.nav .cart {
    font-size: 24px;
    margin-left: 20px;
}

.hero {
    background-image: url('https://cs1.livemaster.ru/storage/30/c8/cffbb39d2af4c304cf4710c7b7j1--materialy-dlya-tvorchestva-tsvetochnyj-magazin-otdushka-kosme.jpg');
    background-size: cover;
    background-position: center;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    filter: brightness(60%);
}

.hero .description h2 {
    font-family: 'Pacifico', cursive;
    font-size: 48px;
}

.hero .description p {
    font-size: 18px;
}

.catalog {
    text-align: center;
    margin-top: 40px;
}

.catalog h2 {
    font-size: 32px;
    color: #333;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product {
    background-color: #fff;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product h3 {
    font-size: 18px;
    color: #333;
}

.product p {
    font-size: 16px;
    color: #666;
}

.product .button {
    background-color: #f3c6c6;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
}

.cart-item {
    margin: 40px 100px;
}
.cart-item;hover {
    trasform: rotate(30deg);
}

.cart-item img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.contact-info {
    text-align: center;
    margin-top: 40px;
    background-color: #f9e4e4;
    padding: 20px;
    border-radius: 10px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #f3c6c6;
    border-radius: 30px;
}

button {
    background-color: #f3c6c6;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #f1b1b1;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }
    .nav {
        flex-direction: column;
        margin-top: 15px;
    }
    .nav a {
        margin: 5px 0;
    }
}
